@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema Medico</h1>
    <p class="lead"></p>
    <p>@Html.ActionLink("Reportes", "Index","Citas")</p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=heyserpoche84%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FSanto_Domingo" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>